{%load static%}

{% extends 'blog/base.html' %}

{% block title %}
Blog Posts
{% endblock %}

{% block content %}
<h1>Blog Posts</h1>
<p>Welcome to the blog posts page!</p>


{% endComment %}

{% endblock %}

<!-- blog/templates/blog/post_detail.html -->

<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>

<hr>

<!-- Display existing comments -->
<h2>Comments</h2>

{% if comments %}
    <ul>
    {% for comment in comments %}
        <li>
            <strong>{{ comment.author }}</strong> - {{ comment.created_at|date:"M d, Y H:i" }}<br>
            {{ comment.content }}
            
            <!-- If the current user is the comment author, show edit and delete options -->
            {% if comment.author == user %}
                <br>
                <a href="{% url 'edit_comment' comment.pk %}">Edit</a>
                <a href="{% url 'delete_comment' comment.pk %}">Delete</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No comments yet. Be the first to comment!</p>
{% endif %}

<hr>

<!-- Comment form to add a new comment -->
<h3>Leave a comment</h3>

{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit Comment</button>
    </form>
{% else %}
    <p>You must <a href="{% url 'login' %}">log in</a> to comment.</p>
{% endif %}